h1 {
    font-size: 2.5rem;
    padding: 20px;
    font-weight: 700;
    color: #1ab394;
}
.bg{
   background-color: #fff !important;
}
.signin{
    padding: 4px;
    width: 19%;
    margin-left: 0px;
    background-color: #1ab394;
    border-radius: 41px;
    margin-top: 10px;
}

.logo{
    margin-top: 10px;
}

.btns{
    margin-top: 44px;
    background-color: #1ab394;
}
button{
    margin-top: 44px;
    background-color: #1ab394;
}
.m-b-l{
        margin-bottom: 50px;
    }
    .m-b-s{
        margin-bottom: 15px;
    }
.pad{
    padding:10px;
}    

p{
    margin-top: 20px;
   
}
a{
    color: #1ab394;
}
a:hover{
    transform:scale(1.23);
    cursor: pointer;
}
.lbl{
    color: darkgrey;
    font-family: cursive;
}